{% extends 'TenelevenCareerBundle::admin.html.twig' %}

{% block teneleven_career_content -%}
<div class="page-header">
        <div class="actions-menu">
            <a href="{{ path('teneleven_career_backend_job') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-list"></i>
                <span>Back to the list</span>
            </a>
            <a href="{{ path('teneleven_career_backend_job_edit', { 'id': job.id }) }}" class="btn btn-primary">
                <i class="glyphicon glyphicon-pencil"></i>
                <span>Edit</span>
            </a>
        </div>
        <h1>
            <i class="glyphicon glyphicon-envelope"></i>
            Replies
        </h1>
    </div>


    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ job.title }}</td>
            </tr>
       <!-- <tr>
                <th>Slug</th>
                <td>{{ job.slug }}</td>
            </tr>
            <tr>
                <th>Release Date</th>
                <td>{{ job.releaseDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Expiration Date</th>
                <td>{{ job.expirationDate|date('Y-m-d H:i:s') }}</td>
            </tr> -->
            <tr>
                <th>Summary</th>
                <td>{{ job.summary|raw }}</td>
            </tr>
            <!-- <tr>
                <th>Description</th>
                <td>{{ job.description|raw }}</td>
            </tr> -->
            <tr>
                <th>Location</th>
                <td>{{ job.location }}</td>
            </tr>
            <!-- <tr>
                <th>Contact</th>
                <td>{{ job.contact }}</td>
            </tr> -->
            <!-- <tr>
                <th>Is Published?</th>
                <td>{{ job.isPublished }}</td>
            </tr> -->
            <!-- <tr>
                <th>Created At</th>
                <td>{{ job.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updated At</th>
                <td>{{ job.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr> -->
            <!-- <tr>
                <th>Id</th>
                <td>{{ job.id }}</td>
            </tr> -->
           
            <tr>
                <th>Replies</th>
                <td>
                     {% if(pager|length) %}    
                    <table class="table table-striped">
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Qualifications</th>
                            <th>Resume</th>
                            <th>Delete?</th>
                        </tr>
                        {% for reply in pager %}
                            <tr>
                                <td>{{ reply.id }}</td>
                                <td>{{ reply.firstName }}</td>
                                <td>{{ reply.lastName }}</td>
                                <td>{{ reply.email }}</td>
                                <td>{{ reply.phone }}</td>
                                <td>{{ reply.qualifications }}</td>
                                <td>{% if reply.resume %} <a href="{{reply.path }}" target="_blank">{{ reply.resume }}</a> {% endif %}</td>
                                <td>
                                    <a class="btn btn-danger delete" title="Edit" href="{{ path('teneleven_career_backend_reply_delete', { 'id': reply.id }) }}" onclick="javascript: if(window.confirm('Are you sure?')){document.getElementById('formDelete{{reply.id}}').submit();}return false;"><span class="glyphicon glyphicon-trash"></span> Delete</a>
                                    <form id="formDelete{{ reply.id }}" action="{{ path('teneleven_career_backend_reply_delete', { 'id': reply.id }) }}" method="post"><input type="hidden" name="_method" value="DELETE" /></form>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="8">
                                {% if pager.haveToPaginate()|default(false) %}
                                    {{ pagerfanta(pager) }}
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                    {% else %}
                        No Replies Yet
                    {% endif %}               
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
