{% extends 'TenelevenCareerBundle::layout.html.twig' %}

{% block teneleven_career_content -%}
    <h1>Job</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ entity.slug }}</td>
            </tr>
            <tr>
                <th>Releasedate</th>
                <td>{{ entity.releaseDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Expirationdate</th>
                <td>{{ entity.expirationDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ entity.location }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ entity.contact }}</td>
            </tr>
            <tr>
                <th>Ispublished</th>
                <td>{{ entity.isPublished }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Qualifications</th>
            <th>Resume</th>
        </tr>
    {% for reply in entity.replies %}
        <tr>
            <td>{{ reply.firstName }}</td>
            <td>{{ reply.lastName }}</td>
            <td>{{ reply.email }}</td>
            <td>{{ reply.phone }}</td>
            <td>{{ reply.qualifications }}</td>
            <td>{{ reply.resume }}</td>
        </tr>
    {% endfor %}
</table>
        <ul class="record_actions">
    <li>
        <a href="{{ path('teneleven_career_backend_job') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('teneleven_career_backend_job_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
